<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        <title>Beeta</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/static/css/beeta.css">

        <script src="/static/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    </head>
    <body>
	    <div id="page">
	        <div role="main" class="wrapper-block">
	        	<section class="main-content">
	        		<div id="sign-up" class="form-wrapper overlay">
	        			<div class="form-content">
	        				<header>
	        					<h2 class="site-brand">CrashBomb</h2>
	        					<p class="message">Sign-up for our private Beta.</p> 
	        				</header>
			        		<form id="beeta-email-signup" class="beeta-form" method="post">
                                {% csrf_token %}
                                {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                    <p>{{ error|escape }}</p>
                                    {% endfor %}
                                {% endif %}
			        			<p class="input-group">
			        				<label for="name">Your Name</label>
			        				<input type="text" name="name" placeholder="Your Name (e.g., Carl)" value="" />
                                    {% if form.name.errors %}
                                        {% for error in form.name.errors %}
                                        <p>{{ error|escape }}</p>
                                        {% endfor %}
                                    {% endif %}
			        			</p>
			        			<p class="input-group required">
			        				<label for="user-email">Your Email</label>
			        				<input type="text" name="email" placeholder="Your Email (e.g., carl@carl.ca)" value="" />
                                    {% if form.email.errors %}
                                        {% for error in form.email.errors %}
                                        <p>{{ error|escape }}</p>
                                        {% endfor %}
                                    {% endif %}
			        			</p>
			        			<input type="submit" id="beeta-email-submission" class="button submit" value="Join the Beta" />			        		
			        		</form>
			        		<footer>
			        			<p class="beeta-note powered-by">
				        			Powered by <em>Beeta</em>
			        			</p>
			        		</footer>
	        			</article>
	        		</div>
	        	</section>
	        </div>
	    </div> <!-- #page -->     

        <script src="/static/js/vendor/jquery-1.8.2.min.js"></script>
        <script src="/static/js/beeta.js"></script>
    </body>
</html>
