{% if account %}
    <p>Beta sign-up for {{ account.email }} complete! We'll email you when {{ account.client.name }} is ready.</p>
{% else %}
    <form id="beeta-email-signup" class="beeta-form" method="post">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p>{{ error|escape }}</p>
            {% endfor %}
        {% endif %}
        <p class="input-group required">
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="your email address" value="" />
            {% if form.email.errors %}
                {% for error in form.email.errors %}
                <p>{{ error|escape }}</p>
                {% endfor %}
            {% endif %}
        </p>
        <button type="button" id="beeta-email-submission" class="button submit">Join the Beta</button>
    </form>
    <footer>
        <p class="beeta-note powered-by">
            <em style="display:block; text-indent:-999em;">Beta Powered by Beeta</em>
            <a title="Visit Beeta.co" href="http://www.beeta.co/">
            	<img alt="Beeta Badge" src="http://samdeng.com:3000/static/images/content/beeta-badge_dark.svg" />
            </a>
        </p>
    </footer>
{% endif %}
