/*

Site:       Beeta Product
Author:     Chris Bishop, Sam Deng, Miguel Montanez
Date:       19 March 2013

/* ==|== Fonts  ============================================= */

/* ==|== Reset ============================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";

/* Base
---------------------------------------- */
html,
body {
  position: relative;
  height: 100%;
}
body {
  font-family: Colfax-Regular, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4;
  font-style: normal;
  line-height: 20px;
  background: #f8f8f8;
  color: #797979;
}
/* links*/
a:link,
a:visited {
  text-decoration: none;
  color: #ff9900;
}
a:focus,
a:hover,
a:active {
  text-decoration: underline;
  color: #cc7a00;
}
a:focus img,
a:hover img {
  border: none;
  outline: none;
}
/* Type
---------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  line-height: 1;
  color: inherit;
  text-rendering: optimizelegibility;
}
p {
  margin: 0 0 0 10px;
  line-height: 1.4;
}
.muted {
  color: #b0aeab;
}

/* Beeta Form Styles 
---------------------------------------- */



