/*

Site:     	Beeta
Author:     Miguel Montanez | PBS KIDS Digital 
Date:       26 Jan 2013

/* ==|== Fonts ============================================= */

@font-face {
  font-family: 'Bariol-Regular';
  src: url('../../fonts/bariol_regular-webfont.woff') format('woff');
  /* Modern Browsers */
}

@font-face {
  font-family: 'Bariol-Bold';
  src: url('../../fonts/bariol_bold-webfont.woff') format('woff');
  /* Modern Browsers */
}

/* ==|== Resets and Utils ============================================= */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
.last {
  margin-right: 0;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}

/* ==|== Base Page Layout ================================ */

#page {
  width: 100%;
  *zoom: 1;
  zoom: 1;
}
#page:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
#page:before,
#page:after {
  content: "";
  display: table;
}
#page:after {
  clear: both;
}
#page:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.grid-row {
  display: block;
  width: 101.5625%;
  margin: 0 -0.78125%;
  *zoom: 1;
  zoom: 1;
}
.grid-row:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.grid-row:before,
.grid-row:after {
  content: "";
  display: table;
}
.grid-row:after {
  clear: both;
}
.grid-row:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.one {
  display: inline;
  float: left;
  width: 4.6875%;
  margin: 0 0.78125%;
}
.two {
  display: inline;
  float: left;
  width: 10.9375%;
  margin: 0 0.78125%;
}
.three {
  display: inline;
  float: left;
  width: 17.1875%;
  margin: 0 0.78125%;
}
.four {
  display: inline;
  float: left;
  width: 23.4375%;
  margin: 0 0.78125%;
}
.five {
  display: inline;
  float: left;
  width: 29.6875%;
  margin: 0 0.78125%;
}
.six {
  display: inline;
  float: left;
  width: 35.9375%;
  margin: 0 0.78125%;
}
.seven {
  display: inline;
  float: left;
  width: 42.1875%;
  margin: 0 0.78125%;
}
.eight {
  display: inline;
  float: left;
  width: 48.4375%;
  margin: 0 0.78125%;
}
.nine {
  display: inline;
  float: left;
  width: 54.6875%;
  margin: 0 0.78125%;
}
.ten {
  display: inline;
  float: left;
  width: 60.9375%;
  margin: 0 0.78125%;
}
.eleven {
  display: inline;
  float: left;
  width: 67.1875%;
  margin: 0 0.78125%;
}
.twelve {
  display: inline;
  float: left;
  width: 73.4375%;
  margin: 0 0.78125%;
}

/* ==|== Base Styles ========================================================== */

html,
body {
  position: relative;
  height: 100%;
}
body {
  font-family: Bariol-Regular, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4;
  font-style: normal;
  background: #FFF4C0;
  color: #B7A041;
}
/* links*/
a:link,
a:visited {
  text-decoration: none;
  color: #D30BAD;
}
a:focus,
a:hover,
a:active {
  text-decoration: underline;
  color: #AAD805;
}
a:focus img,
a:hover img {
  border: none;
  outline: none;
}
/* Type
---------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  line-height: 1;
  color: inherit;
  text-rendering: optimizelegibility;
}
p {
  margin: 0 0 0 10px;
  line-height: 1.4;
}
.muted {
  color: #b0aeab;
}
/* Layout
---------------------------------------- */
.wrapper-block {
  width: 102.08333333333333%;
  margin: 0 -1.0416666666666665%;
  *zoom: 1;
  zoom: 1;
  max-width: 960px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
.wrapper-block:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
.wrapper-block:before,
.wrapper-block:after {
  content: "";
  display: table;
}
.wrapper-block:after {
  clear: both;
}
.wrapper-block:after {
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
  content: ".";
}
/* Splash Header
---------------------------------------- */
[role=banner] {
margin-top: 40px;
}
[role=banner] .brand {

}
[role=banner] .brand em {
position:absolute;
left: -999em;
}
[role=banner] .brand svg {
max-width: 424px;
min-width: 324px;
max-height: 424px;
min-height: 324px;
}

.brand h2{
background-color:#FFA300;
color: #ffffff;
font-size: 22px;
text-align: center;
padding: 16px 0;
max-width: 575px;
margin-top: 30px;
position: relative;
}

.brand h2:before,
.brand h2:after{
content: '';
display: block;
position: absolute;
border-top: 30px solid transparent;
border-bottom: 30px solid transparent;
border-left: 10px solid #FFF4C0;
left: 0;
top: 7px;
margin-top: -10px;
}

.brand h2:after{
right: 0;
border-left: none;
border-right: 10px solid #fff4c0;
}



/* Splash Page
---------------------------------------- */
.main-content{
margin-top: 40px;	
}

h3.message{
font-size: 20px;
display: block;
text-align: center;
margin-bottom: 16px;
}

/* Splash Form */
.splash .beeta-form{
max-width: 420px;
position: relative;
}
.splash .beeta-form label{
position: absolute;
left: -999em;	
}

.splash .beeta-form input[type=text]{
  width:300px;
  padding: 8px;
  font-family: Bariol-Regular, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.4;
  border: 1px solid #FFF4C0;
  outline: none;
	
}

.splash .beeta-form input[type=text]:focus,
.splash .beeta-form input[type=text]:hover{
  border: 1px solid #B7A041;
}

.splash .beeta-form .input-group,
.splash .beeta-form button{
display: inline;	
}

.splash .beeta-form .button{
font-family: Bariol-Regular, Arial, Helvetica, sans-serif;
font-size: 22px;
text-transform: uppercase;
color: #fff;
background:#AAD805;
outline: none;
border: none;
vertical-align: middle;
padding: 5px 20px;
margin: -2px 0 0 4px;

border-radius: 10px;
}

/* Pog Fun */
#beet-pog-modal{
position: absolute;
width: 100%;
height: 100%;
background: rgba(0,0,0,0.2);
top: 0;
bottom: 0;
left: 0;
right: 0;
display: none;	
}

.beeta-complete-message{
width: 724px;
display: block;	
margin: 6% auto 0;	
background: #fff;
border-radius: 20px;	
padding: 40px;
text-align: center;
}

.beeta-complete-message h3{
color: #B7A041;
font-family: Bariol-Bold, Arial, Helvetica, sans-serif;
font-size: 50px;
display: block;
width: 100%;
}


.beeta-complete-message p{
font-size: 34px;
display: inline;
}

.beeta-complete-message .button{
font-family: Bariol-Regular, Arial, Helvetica, sans-serif;
font-size: 22px;
text-transform: uppercase;
color: #fff;
background:#AAD805;
outline: none;
border: none;
vertical-align: middle;
padding: 5px 20px;
margin: -10px 0 0 4px;

border-radius: 10px;
}



/* ==|== Media Queries ================================ */
@media only screen and (min-width: 480px) {
  
}
@media only screen and (min-width: 600px) {
  
}
@media only screen and (max-width: 768px) {
 
}
@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 1250px) {

}
@media only screen and (min-width: 1382px) {
  
}
@media print {
  
}
@media print and print {
  {
    /*
       * Don't show links for images, or javascript/internal links
       */
  
  }
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
